.yellow-line {
  width: 35px;
  height: 4px;
  background-color: #f4cb00;
  margin: 20px 0;
}

.text-13 {
  font-size: 30px;
  text-transform: uppercase;
  color: #22222d;
  font-weight: 600;
  padding-top: 30px;
}

.text-14 {
  font-size: 25px;
  color: #555555;
}