$primary-color: #242439;
$accent-color: #f4cb00;

.text-11, .text-12 {
  font-size: 60px;
  letter-spacing: 5px;
  color: $primary-color;
}

.text-11 {
  font-weight: 700;
}

.text-12 {
  font-weight: 300;
  padding-left: 10px;
}

.text-15 {
  font-size: 25px;
  color: #1b1c1e;
  font-weight: 400;
  background-color: $accent-color;
  border-radius: 6px;
  padding: 0px 5px;
  display: inline-block;
}