<div class="left-bg">
    <div>

        @if (idk1) {
            <span class="text-1">{{title1}}</span>
        }
        @else{
            <h1>No data</h1>
        }

        <div class="yellow-line"></div>
        <div>

            @if (idk1) {
                <div class="text-2">{{text1}}</div>
                <div class="text-3">{{text2}}</div>
            }
            @else {
                <h1>No data</h1>
            }


            @if (idk1) {
                 <div class="text-4">{{years1}}</div>
            }
            @else {
                <h1>No data</h1>
            }

        </div>
        <br>
        <div>

            @if (idk1) {
                <div class="text-2">{{text1}}</div>
                <div class="text-3">{{text2}}</div>
            }
            @else {
                <h1>No data</h1>
            }


             @if (idk1) {
                 <div class="text-4">{{years2}}</div>
            }
            @else {
                <h1>No data</h1>
            }

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>

        @if (idk2) {
            <span class="text-1">{{title2}}</span>
        }
        @else {
            <h1>No data</h1>
        }

        <div class="yellow-line"></div>

        @if (idk2) {
            @for (skill of skills; track skill){
                <div class="EXPERTISE">
                    <label>{{skill}}</label>
                    <input type="range" min="0" max="100" value="50" class="slider" disabled>
                 </div>
            }
        }

    </div>
    <br>
    <br>
    <div class="contact-card">
        <div class="left-bar">
            <div class="icon"><i class="fas fa-phone"></i></div>
            <div class="icon"><i class="fas fa-envelope"></i></div>
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
        </div>


        @if (idk3) {
            <div class="info">

                @for (item of info; track item.title) {
                    <div class="item">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.value }}</p>
                    </div>
                }

            </div>
        }

    </div>
</div>