.text-5 { font-size: 27px; color: white; }
.text-6 { font-size: 31px; color: white; }
.text-9 { font-size: 24px; color: white; }

.yellow-line {
  width: 35px;
  height: 4px;
  background-color: #f4b400;
  margin: 20px 0;
}